//
// CSS for the specific theme photo gallery styles
//

/** Ease Photo Gallery **/
#ease-gallery-data-el{
	display: none;
}

$gal-bg: #999;
$gal-border: #ccc;
$gal-w: 598px;
$gal-h: 460px;

#gallery-frame{
	display: block;
	
	background: $gal-bg;
	
	width: $gal-w;
	height: $gal-h;
	
	position: relative;
	
	border: 1px solid $gal-border;
	border-bottom: none;
	
	& .frame-tip{
		@include adjust-font-size-to( 10px );
		color: $base-bg;
		
		position: absolute;
		padding-left: 0.5em;
		padding-right: 0.5em;
		top: 0;
		left: 0;
		@include rgba-background-inline( rgba(51,51,51,0.4) );
		@include text-shadow( $base-color -1px 1px 1px ); 
	}
	
	& img{
		display: block;
		position: absolute;
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
		cursor: pointer;
		cursor: hand;

		margin-left: auto;
		margin-right: auto;
		background: $base-bg;
		
		@include pie;
		@include box-shadow( $base-color 0 0 15px -3px );
	}
}

$thumbH: 100px;
$thumbW: 100px;
$numThumbs: 5;
$ctrlWidth: floor( ( $gal-w - ( $numThumbs * $thumbW ) ) / 2 );				
$icoW: 20px;
$icoH: 60px;

/** Ease Photo Gallery **/
.ease-photo-gallery{
	display: block;
	border: 1px solid $gal-border;
	width: $gal-w;
	height: $thumbH;
	position: relative;
	
	& .ease-img-link{
		@include inline-block;
		vertical-align: middle;
		
		//position: relative;
		@include opacity( 0.75 );
		
		&:hover, &.active{
			@include opacity( 1 );
		}
		
		& img{
			max-width: 100%;
			width: auto !important;
			height: auto !important;
			//height: auto;
			display: block;
		}
	}
	
	& #gallery-page-container{
		background: lighten( $gal-bg, 20% );
		left: $ctrlWidth;
		position: absolute;
		width: $gal-w - $ctrlWidth * 2;
		z-index: 2;
	}
	
	& .gallery-page-controls{
		
		position: absolute;
		bottom: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
		
		& .pageNext, & .pagePrev{
			display: inline-block;
			
			width: $ctrlWidth;
			height: 100%;
			
			background: $base-bg;
			
			cursor: pointer;
			cursor: hand;
			
			position: relative;
			
			&:hover{
				background: darken( $base-bg, 10% );
				
				& span{
					&.icon{
						@include opacity( 1 );
					}
				}
			}
			
			& span{
				&.text{
					display: none;
				}
				&.icon{
					display: block;
					position: absolute;
					width: $icoW;
					height: $icoH;
					top: floor( ($thumbH - $icoH) / 2);
					left: floor( ($ctrlWidth - $icoW) / 2);
					@include main-sprite;
					
					@include opacity( 0.85 );
					
				}
			}

		}
		& .pageNext{
			float: right;
			
			& span{
				&.icon{
					background-position: -50px 0;
					//left: floor( ($ctrlWidth - $icoW) / 2 + 2);
				}
			}
		}
		& .pagePrev{
			float: left;
			
			& span{
				&.icon{
					background-position: 0 0;
					//left: floor( ($ctrlWidth - $icoW) / 2 - 2);
				}
			}
		}
		& .pageCounter{
			//@include padding-leader(0.5);
			@include adjust-font-size-to( 10px );
			@include padding-leader( 0.125 );
			text-align: center;
			display: block;
		}
	}
	
	
}
/** End Ease Photo Gallery **/

/** Custom Lightbox **/
#easePopup{
	z-index:1001;
	display:inline-block;
	position:absolute;
	border:5px solid $box-bg;
	background: $box-bg;
	@include adjust-font-size-to( 16px );
	@include single-box-shadow( darken( $box-bg, 70% ), 0, 4px, 20px, 0px );
	
	
	& img{
		margin: 0;
		display:block;
	}
	
	& #pNext, & #pPrev, & #pClose{
		display:inline-block;
		cursor:hand;
		cursor:pointer;
		z-index:2;
		position:absolute !important;
	}
	
	& #pNext, & #pPrev{
		font-variant:small-caps;
		@include adjust-font-size-to( 14px, 1.5 );
		padding-left: 0.75em;
		padding-right: 0.75em;
		
		top:50%;
		color:#fff;
	}
	
	& #pNext{
		background: $base-header-color;
		right: 0;
		
		&:hover{ background: lighten( $base-header-color, 15% ) }
	}
	
	& #pPrev{
		background: $base-button-color;
		left: 0;
		&:hover{ background: lighten( $base-button-color, 15% ) }
	}
	
	& #pClose{
		background: $box-bg;
		border:3px solid $base-button-color;
		color: $base-button-color;
		text-align:center;
		line-height:18px;
		height:20px;
		font-size:14px;
		width:20px;
		top:-15px;
		right:-15px;
	
		//@include pie;
		//@include border-radius( 20px );
		
		&:hover{
			background: darken( $box-bg, 15% );
		}
	}
	
	& #pDesc, #pTitle{
		position: absolute !important;
		left: 0;
		//background: rgba( 0,0,0, 0.5 );
		@include rgba-background-inline( rgba( 0,0,0, 0.5 ) );
		color: #fff;
		//@include pie;
		
		@include adjust-font-size-to( 10px );
		@include padding-leader( 0.25 );
		@include padding-trailer( 0.25 );
		padding-left: 0.5em;
		padding-right: 0.5em;
		z-index: 1;
	}
	& #pDesc{
		bottom: 0;
	}
	& #pTitle{
		top: 0;
	}
}

/** End Custom Lightbox **/
